.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.signup-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;
}
.signbtn{
    background-color: gold; 
 }
 .signup-btn{
    text-align: center;
 }

