<div class="login-body">
  <mat-card class="login-card">
    <mat-card-content>
      <h1>Login</h1>
      <form [formGroup]="loginForm" class="credentials">
        <p>
          <mat-form-field class="username" appearance="outline">
            <mat-label>username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-icon matPrefix>person</mat-icon>
            @if (loginForm.controls['username'].hasError('required')) {
            <mat-error>*Username is required</mat-error>
            }
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="password" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
              required [class.error]="loginForm.controls['password'].hasError('required')">
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (loginForm.controls['password'].hasError('required')) {
              <mat-error>*Password is required</mat-error>
              }
          </mat-form-field>
        </p>
      </form>
      <div class="login-btn">
        <button (click)="onLogin()" type="submit" mat-raised-button class="logbtn">Login</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>