.body{
    background-color:steelblue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 80px;
    margin-left: 20px;
    cursor: pointer;
}
.btns button{
    background-color:gold;
}
button{
    margin-right: 8px;
}